<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommitList | Email Verification</title>
    <style>
      body{
         background:#000;
         color:white;
         display: flex;
         flex-direction:column;
         align-items:center;
         justify-content:center;
         height:100vh;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1 style="color:#26d93e">
      Verification link has expired!
    </h1>
    <h2 style="color:#b8bdc7">
      You can now close the tab
    </h2>
  </body>
</html>
